@import url('https://fonts.googleapis.com/css?family=Inconsolata');

body {
    background-color: #777777;
    background-repeat: repeat;
    background-image: url("../images/woodBg.png");
    font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    margin-bottom: 30px;

}

#portfolio {
    margin-bottom: 20px;
}

.fab {
    color: black;
}

.fas {
    color: black;
}

.codeHead {
    text-align: left;
    size: 80px;
    padding-left: 10%;
    padding-right: 10%;
    font-family: 'Inconsolata', monospace;
    background-color: black;
    background-image: url("../images/wedge.png");
    background-repeat: repeat;
    color: #4aaaa5;
    margin-bottom: 20px;

}

.head-link {
    text-align: right;
}

.contact-li {
    list-style: none;
}

.pills {
    background-image: url("../images/wedge.png");
    background-repeat: repeat;
    padding-top: 20px;
    padding-bottom: 20px;
}

.pillsCont {
    margin-bottom: 20px;
}

.nav-link{
    color: white;
}

.nav-link.active {
    background-color: grey;
}

.pill-content {
    background-color: rgb(100, 100, 100, 0.8);
    padding-top: 10px;
    color: white;
}


.carousel-caption {
    background-color: rgba(19, 86, 131, 0.7);
    border-radius: 20px;
}

.modal-header {
    background-image: url("../images/wedge.png");
    color: white;
}

.project-problem, .project-tech, .modal-tech-head {
    margin-left: 10px;
}

.project-info {
    background-color: grey;
}